.primary-button-container {
    .primary-button {
        button {
            width: 101px;
            height: 40px;
            border: none;
            border-radius: 4px;
            color: var(--white-color);
            background-color: var(--blue-color);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            cursor: pointer;
        }
    }
}